@media screen and (max-width: 767px) {
  .desc-left>p {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .video-container {
    width: 400px;
  }
  video {
    width: 100%;
  }
  .desc-left>p {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .video-container {
    width: 700px;
  }
  video {
    width: 700px;
    height: 394px;
  }
  .desc-left>p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .video-container {
    width: 960px;
  }
  video {
    width: 960px;
    height: 540px;
  }
  .desc-left>p {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  .video-container {
    width: 1400px;
  }
  video {
    width: 1400px;
    height: auto;
  }
  .desc-left>p {
    font-size: 20px;
  }
  .container {
    width: 1470px;
  }
}

html {
  height: 100%;
}

body {
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.container {
  flex: 1;
}

.container-fluid img {
  border: 1px solid white;
}

.program-image {
  padding: 0;
}

.navbar-fixed-top {
  background-color: #333;
  border-bottom-width: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-nav>a {
  color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-nav>a:hover {
  color: #00a069;
}


.carousel {
  margin-bottom: 20px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
}

.item-upper {
  margin-bottom: 10px;
}



.video-group a, .video-group h2 {
  color: #3A5161;
  font-weight: 700;
}
.video-group h2 {
  margin-bottom: 0;
}

.video-group a:hover {
  text-decoration: none;
  color: #00a069;
}

.video-group {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
}

.program-desc {
  background-color: #fefdfc;
  margin:0;
}

.desc-left>p {
  margin: 15px 0 5px 0;
  color: #00a069;
  font-weight: 600;
}

.desc-right {
  margin-top: 20px;
}

.desc-right h5 {
  margin: 0 0 5px 0;
}

.program-desc hr {
  margin-bottom: 5px;
}

.item h5, .item h3 {
  position: absolute;
  z-index: 2;
  color: white;
}

.related-product {
  margin-top: 20px;
}

.all {
  margin: 50px 0 15px 0;
  background: rgba(225, 225, 225, 0.95);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.all p {
  margin: 0;
}
.all-header hr {
  margin-top: 10px;
  margin-bottom: 5px;
}
.all-video img {
  width: 100%;
}

.all-video img {
  margin-top: 20px
}
video {
  box-shadow: 0px 0px 20px 2px black;
}
.video {
  background-color: #3b3b3b;
  padding-top: 70px;
  margin:0;
}

.video-container {
  margin: 0 auto;
}

.vidinfo h3 {
  font-family: 'Righteous', cursive;
  font-size: 35px;
  margin: 0;
  color: #e5e5e5;
}

.vidinfo p {
  font-family: 'Nanum Gothic', sans-serif;
  color: #e5e5e5;
  margin-bottom: 3px;
}

.vidinfo>.btn-group {
  margin-top: 4px;
}

.video-desc hr {
  margin-top: 3px;
  margin-bottom: 5px;
}

.result {
  display: flex;
  justify-content: center;
}
.result p {
  margin-top: 15px;
  font-size: 25px;
}
/**/
.product-image {
  display: flex;
  justify-content: center;
}
.product-image img {
  width: 90%;
  height: 90%;
}

.item-upper {
  position: relative;
}

.item-upper p {
  margin: 0;
  bottom: 0;
}

.thumbnail {
  padding: 0;
}

.list-inline {
  margin: 0;
}
.product-info {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
.table-striped {
  border-top: solid 2px black;
}
.nav-pills img {
  width: 30px;
  margin-right: 10px;
}

.nav-pills li {
  margin-right: 15px;
}

.nav-pills>li>a {
  display: flex;
  width: 150px;
  border-radius: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.nav-pills>li>a:hover {
  background-color: yellow;
}

.nav-pills>li>a:focus {
  background-color: blue;
}

.nav-pills>li.active>a {
  border-radius: 0;
  background-color: #fe7563;
}

.nav-pills>li.active>a:hover {
  background-color: green;
}
.slider {
    width: 100%;
    margin: 20px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  margin-bottom: 15px;
}
.slider img {
  margin-bottom: 10px;
}
.slider img:hover {

}
.slider h5, .hovereffect h5 {
  color:#3A5161;
  margin-bottom: 0.2em;
  font-weight: 600;
}
.thumb-info a, .program-info a, .hovereffect a {
  text-decoration: none !important;
}
.slider p {
  color: #8A9599;
  font-size: 1rem;
  line-height: 1.5;
}
.thumb-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.625rem;
}
.thumb-info {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  cursor: default;
}

.thumb-info .overlay {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 80%;
  height: 50%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.thumb-info:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.thumb-info img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.thumb-info:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.thumb-info h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.glyphicon-menu-right, .glyphicon-chevron-right {
  top: 4px;
}
.thumb-info:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.program-info {
  text-align: center;
}
.program-info h5 {
  font-weight: 400;
}
.program-title {
  margin-top: 0.625rem;
  height: 30px;
}
.item-button button{
  border-radius: 0;
  font-size: 12px;
  font-weight: 200;
}
.item-button button:hover {
  color: white;
  background-color: black;
}
.item-description p{
  font-weight: 100;
}
.item-description img {
  width: 100px;
}
.item-description h3 {
  color: #666;
  font-weight: 100;
}

/**/
.single-item {
  margin-top: 0;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a,{
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-related {
  padding: 0;
}
.item-related img {
  width: 100%;
}
footer {
  margin-top: 20px;
  padding: 17px 10px 13px 20px;
  background-color: #aaaaaa;
}
