.modal-img img {
  width: 100%;
}
.home-news {
  display: flex;
  justify-content: center;
}
.nav_menu {
  height: 57px;
  margin-bottom: 0;
}
.news {
  margin-top: 20px;
}
.thumb-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0.625rem;
  font-size: 12px;
}
.company-info {
  margin-top: 20px;
}
.inlineform, .form-group  {
  padding-left: 0;
  margin-right: 20px;
}
.form-group div {
  padding-left: 0;
}
.submit {
  margin-top: 20px;
}
.adv-video {
  margin-top: 20px;
}
.item-list {
  border-bottom: 1px solid grey;
}
.video-item img{
  width: 100%;
}
.delete {
  float: right;
}
.item-image img {
  width: 100%;
}
